body {
  background: linear-gradient(210deg, #63e2ff 13.39%, #b066fe 86.61%);
  align-content: center;
  display: flex;
  justify-content: center;
  padding: 1.54rem;
}

.calculator {
  background-color: white;
  width: 21.6rem;
  height: 40.5rem;
  border-radius: 37px;
  filter: drop-shadow(0 4px 29px rgba(0, 0, 0, 0.19));
  border: solid 2px #c8c8c8;
  font-family: "Inter", sans-serif;
}

.answer {
  display: grid;
  align-items: end;
  height: 13.9rem;
}

.answer-align {
  display: grid;
  justify-content: end;

  padding-right: 30px;
  padding-bottom: 25px;
}

.current-answer {
  font-size: 65px;
}

.previous-answer {
  font-size: 65px;
}

.buttons {
  display: grid;
  gap: 1px;
  justify-content: center;
  align-content: center;
  grid-template-rows: 4.55rem 4.55rem 4.55rem 4.55rem;
  background-color: #f4f4f4;
  width: 21.6rem;
  height: 26.6rem;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
}

.columns {
  display: grid;
  grid-template-columns: 4rem 4rem 4rem 4rem;
  gap: 10px;
}
.columns2 {
  display: grid;
  grid-template-columns: 8.75rem 4rem 4rem;
  gap: 10px;
}
.blue-button {
  border-radius: 100%;
  color: #63e2ff;
  background-color: white;
  font-size: 22px;
  border: none;
  width: 4.225rem;
  height: 4.225rem;
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.075));
  font-weight: bold;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.purple-button {
  border-radius: 100%;
  background-color: white;
  color: #7a40e7;
  font-size: 22px;
  border: none;
  width: 4.225rem;
  height: 4.225rem;
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.075));
  font-family: "Inter", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.two-span {
  border-radius: 46px;
  background-color: white;
  color: #7a40e7;
  font-size: 22px;
  border: none;
  width: 8.8rem;
  height: 4.225rem;
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.075));
  font-family: "Inter", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.equal-button {
  border-radius: 100%;
  background-color: #7a40e7;
  color: white;
  font-size: 22px;
  border: none;
  width: 4.225rem;
  height: 4.225rem;
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.075));
  font-family: "Inter", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
